.o-form {
  height: 100%;
}
span {
  display: inline-flex;
  text-overflow: ellipsis;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  mat-icon {
    padding-left: 3px;
    padding-right: 5px;
    //padding-top: 5px;
    font-size: 20px;
    height: 15px;
  }
}
.text {
  margin-left: 15px;
}
.button {
  margin-left: 25px;
  overflow: hidden;
}
