<o-form service="partes" entity="parte" keys="IDPARTE" header-actions="R;U;D" show-header-navigation="no">
  <o-text-input attr="IDPARTE" sql-type="INTEGER" enabled="no" fxFlex></o-text-input>
  <o-row>
    <o-column title-label="PARTE INFORMATION" fxFlex>
      <o-row layout-gap="14px" layout-padding-vertical>
        <o-text-input class="input-padding" attr="DESCRIPTION" fxFlex="50" required="yes"></o-text-input>
        <o-date-input attr="STARTDATE" required="yes" fxFlex="50"></o-date-input>
      </o-row>
      <o-row layout-gap="14px" layout-padding-vertical>
        <o-combo attr="STATUS" service="partes" entity="status" columns="ID;DESCRIPTION" value-column="ID" keys="ID"
          visible-columns="DESCRIPTION" fxFlex="50">
        </o-combo>
        <o-date-input attr="ENDDATE" enabled="no" fxFlex="50"></o-date-input>
      </o-row>
      <o-row layout-gap="14px" layout-padding-vertical>
        <o-text-input class="input-padding" attr="GASTO" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-textarea-input attr="COMMENTS" fxFlex></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>