<o-form service="partes" entity="parte" keys="IDPARTE" header-actions="R;D" show-header-navigation="no"
  after-insert-mode="detail" show-header-actions-text="no">
  <o-row>
    <o-column title-label="PARTE INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="DESCRIPTION" fxFlex="75" clear-button="yes" required="yes">
        </o-text-input>
      </o-row>
      <o-row>
        <o-integer-input class="input-padding" #STATUS type="hidden" [hidden]="true" attr="STATUS"></o-integer-input>
      </o-row>
      <o-row>
        <o-date-input class="input-padding" #STARTDATE (onChange)="dateChange($event)" attr="STARTDATE"
          start-view="month" clear-button="yes" required="yes" fxFlex="75">
        </o-date-input>
      </o-row>
      <o-row>
        <o-date-input class="input-padding" #ENDDATE (onChange)="dateChange($event)" attr="ENDDATE" start-view="month"
          clear-button="yes" required="yes" fxFlex="75"></o-date-input>
      </o-row>
      <o-row>
        <o-textarea-input class="input-padding" attr="COMMENTS" appearance="outline" fxFlex="75"></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>