<o-column>
  <o-row>
    <div fxFlex>
      <o-list #list title="{{'GASTOS' | oTranslate}}" attr="spendinglist" service="gastos" entity="gastoDetails"
        keys="ID" columns="ID;CONCEPT;STARTDATE;COMMENTS;CATEGORY;AMOUNT;PRICE;PHOTO" delete-button="no"
        insert-button="true" insert-button-position="top" insert-button-floatable="false"
        quick-filter-columns="DESCRIPTION" pageable="yes" query-rows="5">
        <mat-card *ngFor="let rowData of list.dataArray" [o-list-item]="rowData">
          <mat-card-header>
            <mat-card-title><strong>
                <font size=3>{{ rowData.CONCEPT }}</font>
              </strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <o-column>
              <div class=card fxLayout="column">
                <span>
                  <mat-icon mat-list-icon color="accent">today </mat-icon>
                  {{ rowData.STARTDATE | date}}
                </span>
                <span *ngIf="(rowData.CATEGORY)==='Comida'">
                  <mat-icon mat-list-icon color="accent">fastfood </mat-icon>
                  {{ rowData.CATEGORY }}
                </span>
                <span *ngIf="(rowData.CATEGORY)==='Gasolina'">
                  <mat-icon mat-list-icon color="accent">local_gas_station </mat-icon>
                  {{ rowData.CATEGORY }}
                </span>
                <span *ngIf="(rowData.CATEGORY)==='Transporte'">
                  <mat-icon mat-list-icon color="accent">directions_car </mat-icon>
                  {{ rowData.CATEGORY }}
                </span>
                <span *ngIf="(rowData.CATEGORY)==='Material'">
                  <mat-icon mat-list-icon color="accent">device_unknown </mat-icon>
                  {{ rowData.CATEGORY }}
                </span>
              </div>
            </o-column>
          </mat-card-content>
        </mat-card>
      </o-list>
    </div>
  </o-row>
</o-column>