.card {
  overflow: hidden;
}
.mat-icon {
  font-size: 15px;
  height: 15px;
}
.icon{
  text-align: center;
  display: inline;
}
.mat-divider {
  margin: 0 12px 30px;
}
.imgRedonda {
  width:300px;
  height:300px;
  border-radius:150px;
}
span {
  text-align: start;
  font-size: 14px;
  max-width: 90%;
  overflow: hidden;
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*.container-item{
  width: 100%;
  height:100%;
  .name{
    margin:8px 0;
    font-size: 0.9em;
  }
  .email,
  .domain,
  .phone,
  .body,
  .website{
    font-size: 0.7em;
    display: flex;
    align-items: center;
    color:#4b4b4b;
    mat-icon{
      padding-right:8px;
    }
    span{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .mat-icon{
    font-size:18px;
    height: 18px;;
  }
}*/
