<o-column>
  <o-row>
    <div fxFlex="1 1 auto">
      <o-grid #grid attr="spendinglist" service="gastos" entity="gastoDetails" keys="ID"
        columns="ID;CONCEPT;STARTDATE;COMMENTS;CATEGORY;AMOUNT;PRICE;PHOTO"
        visible-columns="ID;CONCEPT;STARTDATE;COMMENTS;CATEGORY;AMOUNT;PRICE;PHOTO" insert-button="true"
        insert-button-position="top" sortable-columns="STARTDATE" sort-column="STARTDATE" pagination-controls="true"
        page-size-options="8;16;24;32;64" quick-filter-columns="CONCEPT">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column layout-padding class="container-item">
            <div class=card fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
                <mat-divider fxFlex></mat-divider>
                <div class="image">
                  <o-image attr="PHOTO" class="circular--square" empty-image="assets/images/logoimatia.png"
                    show-controls="false" auto-fit="true" data={{list.PHOTO}}>
                  </o-image>
                </div>
                <mat-divider fxFlex></mat-divider>
              </div>
              <span>
                <mat-icon>account_circle</mat-icon> {{list.CONCEPT}}
              </span>
              <span>
                <mat-icon>today </mat-icon>
                {{ list.STARTDATE | date}}
              </span>
              <span>
                <mat-icon>business_center </mat-icon>
                {{ list.CATEGORY }}
              </span>
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>
    </div>
  </o-row>
</o-column>