<o-column>
  <o-row>
    <div fxFlex>
      <o-grid #grid attr="spendinglist" service="gastos" entity="gastoDetails" keys="ID" cols="2"
        columns="ID;CONCEPT;STARTDATE;COMMENTS;CATEGORY;AMOUNT;PRICE;PHOTO"
        visible-columns="ID;CONCEPT;STARTDATE;COMMENTS;CATEGORY;AMOUNT;PRICE;PHOTO" insert-button="true"
        insert-button-position="top" sortable-columns="STARTDATE" sort-column="STARTDATE" pagination-controls="true"
        page-size-options="8;16" quick-filter-columns="CONCEPT">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column layout-padding class="container-item">
            <div class=card fxLayout="column">
              <span>
                <mat-icon mat-list-icon color="primary">business_center </mat-icon>{{list.CONCEPT}}
              </span>
              <span>
                <mat-icon mat-list-icon color="accent">today </mat-icon>
                {{ list.STARTDATE | date}}
              </span>
              <span *ngIf="(list.CATEGORY)==='Comida'">
                <mat-icon mat-list-icon color="accent">fastfood </mat-icon>
                {{ list.CATEGORY }}
              </span>
              <span *ngIf="(list.CATEGORY)==='Gasolina'">
                <mat-icon mat-list-iconcolor="accent">local_gas_station </mat-icon>
                {{ list.CATEGORY }}
              </span>
              <span *ngIf="(list.CATEGORY)==='Transporte'">
                <mat-icon mat-list-icon color="accent">directions_car </mat-icon>
                {{ list.CATEGORY }}
              </span>
              <span *ngIf="(list.CATEGORY)==='Material'">
                <mat-icon mat-list-icon color="accent">device_unknown </mat-icon>
                {{ list.CATEGORY }}
              </span>
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>
    </div>
  </o-row>
</o-column>