<o-form #oForm service="gastos" entity="gasto" keys="ID" header-actions="U" show-header-navigation="no"
  show-header-actions-text="no" (onDataLoaded)="onFormDataLoaded($event)">
  <o-row layout-gap="14px" layout-padding-vertical>
    <mat-tab-group fxFlex>
      <mat-tab label="{{ 'SPENDING_INFORMATION' | oTranslate }}">
        <o-text-input attr="ID" sql-type="INTEGER" enabled="no" fxFlex></o-text-input>
        <o-integer-input #IDPARTE type="hidden" [hidden]="true" attr="IDPARTE"></o-integer-input>
        <o-column fxFlex layout-padding>
          <o-row>
            <o-text-input #CONCEPT attr="CONCEPT" class="text" fxFlex="65" required="yes"></o-text-input>
          </o-row>
          <o-row>
            <o-date-input #STARTDATE attr="STARTDATE" class="text" required="yes" fxFlex="65"></o-date-input>
          </o-row>
          <o-row>
            <o-combo #CATEGORY (onChange)="valueChange($event)" class="text" attr="CATEGORY" service="gastos"
              entity="category" columns="ID;DESCRIPTION;PRICE" value-column="ID" keys="ID" visible-columns="DESCRIPTION"
              fxFlex="65">
            </o-combo>
          </o-row>
          <o-row layout-gap="14px" layout-padding-vertical>
            <o-integer-input #AMOUNT (onChange)="amountChange($event)" attr="AMOUNT"
              [style.display]="isVisible?'block':'none'" class="text" fxFlex="30">
            </o-integer-input>
            <o-currency-input #PRICE attr="PRICE" class="text" fxFlex="30"></o-currency-input>
          </o-row>
          <div *ngIf="isEnabled;else elseBlockPhoto">
            <o-row>
              <o-image #PHOTO id="PHOTO" attr="PHOTO" class="image" empty-icon="add_a_photo"
                (onChange)="onPhotoChange($event)" width="250px" height="150px" fxFlex="60">
              </o-image>
            </o-row>
          </div>
          <ng-template #elseBlockPhoto>
            <o-row>
              <o-image #PHOTO id="PHOTO" attr="PHOTO" class="image" empty-image="./assets/images/no-image.png"
                width="200px" height="100px" enabled="no" show-controls="false" fxFlex="60">
              </o-image>
            </o-row>
          </ng-template>
          <div *ngIf="isEnabled;else elseBlock">
            <o-row>
              <o-textarea-input #COMMMENTS attr="COMMENTS" class="text" appearance="outline" rows="3" fxFlex="70">
              </o-textarea-input>
            </o-row>
          </div>
          <ng-template #elseBlock>
            <o-textarea-input #COMMMENTS attr="COMMENTS" class="text" appearance="outline" rows="3" enabled="no"
              fxFlex="70">
            </o-textarea-input>
          </ng-template>
        </o-column>
      </mat-tab>
    </mat-tab-group>
  </o-row>
</o-form>