<o-form #oForm service="gastos" entity="gasto" keys="ID" header-actions="R;U;D" show-header-navigation="no">
  <o-row layout-gap="14px" layout-padding-vertical>
    <!--<o-column>
      <o-image id="PHOTO" attr="PHOTO" empty-image="assets/images/no-image.png" sql-type="OTHER" width="350px"
        height="250px">
      </o-image>
    </o-column>-->
    <mat-tab-group fxFlex>
      <mat-tab label="{{ 'SPENDING_INFORMATION' | oTranslate }}">
        <o-text-input attr="ID" sql-type="INTEGER" enabled="no" fxFlex></o-text-input>
        <o-column fxFlex layout-padding>
          <o-row>
            <o-text-input class="input-padding" attr="CONCEPT" fxFlex="50" required="yes"></o-text-input>
          </o-row>
          <o-row>
            <o-date-input attr="STARTDATE" required="yes" fxFlex="50"></o-date-input>
          </o-row>
          <o-row>
            <o-combo attr="CATEGORY" service="gastos" entity="category" columns="ID;DESCRIPTION;PRICE" value-column="ID"
              keys="ID" visible-columns="DESCRIPTION" fxFlex="50"></o-combo>
          </o-row>
          <o-row layout-gap="14px" layout-padding-vertical>
            <o-integer-input attr="AMOUNT" class="input-padding" enabled="no" fxFlex="25"></o-integer-input>
            <o-currency-input attr="PRICE" class="input-padding" fxFlex="25"></o-currency-input>
          </o-row>
          <o-row>
            <o-textarea-input attr="COMMENTS" fxFlex="50"></o-textarea-input>
          </o-row>
        </o-column>
      </mat-tab>
    </mat-tab-group>
  </o-row>
</o-form>