.app-settings {
  height: 100%;

  .settings-container {
    height: 90%;
    margin: auto;

    .setting-column {
      &.o-column > .o-container .o-container-scroll,
      &.o-row > .o-container .o-container-scroll {
        overflow: hidden;
      }
    }
  }
  .mat-slide-toggle {
    padding-left: 14px;
  }
}
