<o-column>
  <o-row>
    <div fxFlex>
      <o-list #list attr="parteslist" service="partes" entity="parteDetails" keys="IDPARTE" header-mode="floating"
        columns="IDPARTE;DESCRIPTION;STARTDATE;COMMENTS;STATUS;ENDDATE"
        visible-colums="IDPARTE;DESCRIPTION;STARTDATE;STATUS" delete-button="no" insert-button="true"
        insert-button-position="top" insert-button-floatable="false" quick-filter-columns="DESCRIPTION">
        <mat-card class="list" *ngFor="let rowData of list.dataArray" [o-list-item]="rowData">
          <mat-card-header>
            <mat-card-title><strong>
                <font size=3>{{ rowData.DESCRIPTION }}</font>
              </strong></mat-card-title>
            <mat-card-subtitle>ID:{{rowData.IDPARTE}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <o-column>
              {{'STARTDATE' | oTranslate }}: {{ rowData.STARTDATE | date  }}
              <p>{{'STATUS' | oTranslate}}: {{ rowData.STATUS }}</p>
            </o-column>
          </mat-card-content>
        </mat-card>
      </o-list>
    </div>
  </o-row>
</o-column>