<o-column>
  <o-row>
    <div fxFlex>
      <o-list #list attr="parteslist" service="partes" entity="parteDetails" keys="IDPARTE" header-mode="floating"
        columns="IDPARTE;DESCRIPTION;STARTDATE;COMMENTS;STATUS;ENDDATE"
        visible-colums="IDPARTE;DESCRIPTION;STARTDATE;ENDDATE;STATUS" delete-button="no" insert-button="true"
        insert-button-position="top" insert-button-floatable="false" quick-filter-columns="DESCRIPTION"
        (onDataLoaded)="dataLoaded($event)" pageable="yes" query-rows="5">
        <mat-card class="list" *ngFor="let rowData of list.dataArray" [o-list-item]="rowData">
          <mat-card-header>
            <mat-card-title><strong>
                <font size=3>{{ rowData.DESCRIPTION }}</font>
              </strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <o-column>
              <span>
                <mat-icon color="accent">today </mat-icon>{{ rowData.STARTDATE | date  }} -
                {{ rowData.ENDDATE | date  }}
              </span>
              <span mat-line *ngIf="(rowData.STATUS )=== 'Sin enviar'">
                <mat-icon mat-list-icon [ngStyle]="{'color':'grey'}">assignment_late</mat-icon>
                {{ rowData.STATUS }}
              </span>
              <span mat-line *ngIf="(rowData.STATUS )=== 'Enviado'">
                <mat-icon mat-list-icon [ngStyle]="{'color':'orange'}">cloud_upload</mat-icon>
                {{ rowData.STATUS }}
              </span>
              <span mat-line *ngIf="(rowData.STATUS )=== 'Aceptado'">
                <mat-icon mat-list-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                {{ rowData.STATUS }}
              </span>
              <span mat-line *ngIf="(rowData.STATUS )=== 'Rechazado'">
                <mat-icon mat-list-icon color="warn">clear</mat-icon>
                {{ rowData.STATUS }}
              </span>
            </o-column>
          </mat-card-content>
        </mat-card>
      </o-list>
    </div>
  </o-row>
</o-column>