.bg {
  background-color: darkred;
}
.list {
  overflow-x: hidden;
  overflow-y: hidden;
}

span {
  display: flex;
  text-overflow: ellipsis;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  mat-icon {
    padding-top: 5px;
    padding-right: 8px;
  }
}
.mat-icon {
  font-size: 20px;
  height: 20px;
}
